# Secrets
*.key
*.pem
*.crt
*.pfx
*.jks

# Environment files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Terragrunt
.terragrunt-cache/

# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store